

.contenido {
    
    width: 80%;
    margin: 25px auto;
    padding: 25px 25px; 
    border-style: solid;
    border-width: 2px;
    border-color: cadetblue;
    border-radius: 15px;
    background-color: #545C8A;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.utnlogo{
    width: 20%;
    height: 80%;
}
.logo {
    width: 140px;
    height: 120px;
}


.titulo{
    width: 80%;
    margin: 5px auto;
}

.botones {
    margin: 25px auto;
    width: 30%;
}

.boton{
    width: 70%;
    margin: 15px auto;
}


.boton a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion{
    width: 80%;
    margin: 5px auto;
}


p{
    font-family: 'Times New Roman', Times, serif;
    text-indent: 2em;
    text-align: justify;
    font-size: 20px;
}

.img-informativa{
    width: max-content;
    height: max-content;
    margin: 5px 15px;
}


.container-image {
    display: flex;
    align-items: center;
}

.footer{
    margin-left: 20px;
}

















/* CSS */

a {
    text-decoration:none
}
a:visited { 
    text-decoration: none;
}
button{  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}